/*Gallery formating*/
.gallery{
    display: grid;
    margin: 0 auto;
    width: min-content;
    padding-top: 5%;
    padding-bottom: 5%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.gallery img{
    width: 200px;
    cursor: pointer;
}
.gallery img:hover{
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.3);
}

.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img{
    width: 90%;
    max-width: 500px;
}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
