/*#region General*/

html{
    margin: 0;
}

header{
    color: black;
    background-color: #808080;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    height: 20vh;
}
body{
    font-family: "Oswald", sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-size: 5vh;
    font-weight: 500;
}
h2{
    text-align: center;
    font-weight: 200;
}
h3{
    font-weight: 200;
}
ul{
    list-style: none;
}
hr{
    margin: 10% 5%;
}

.middle {
    font-size:4vh;
    font-weight: 100;
    color: black;
    justify-self: center;
    align-self: center;

}
.intro {
    display: flex;
    justify-content: center;
    margin: 20% 0%;
}

.contact{
    display: block;
    text-align: center;
    margin-bottom: 5%;
}

footer{
    color: white;
    background-color: #808080 ;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    bottom: 0;
    width: 100%;
    height: 1rem;
}
/*#endregion*/

/*#region Techniques*/

/* General Technique Styling */
.technique {
    display: flex;
    flex-wrap: wrap; /* Wraps content for responsiveness */
    align-items: center;
    padding: 50px;
    height: auto;
}

.technique:nth-child(even) {
    background-color: #f9f9f9; /* Alternate background for techniques */
}

.technique:nth-child(odd) {
    background-color: #fff;
}

/* Text Content Styling */
.content {
    flex: 1;
    padding: 20px;
    min-width: 300px;
}

.content p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Image Section Styling */
.images {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    min-width: 300px;
}

.images img {
    width: calc(50% - 10px); /* Half width with gap */
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#igref{
    margin-top: 10vh;
    font-size: 2rem;
    text-align: center;

}
@media (max-width: 768px) {
    header{
        padding: 10% 0% 0% 0%;
    }
    .intro {
        margin: 20% 10%;
        font-size: 3vh;
    }
    /* Stack content for smaller screens */
    .technique {
        flex-direction: column;
        text-align: center;
    }

    .images img {
        width: calc(100% - 10px);
    }
}
/*#endregion*/